/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

.btn
  border-radius: $ui-radius
  padding: 8px $ui-spacing-half
  border: none
  color: white
  font-size: inherit
  background-color: $blue
  cursor: pointer
  user-select: none
  transition: all .5s ease-in
  width: 100%

  &:focus
    outline: none

  &:hover
    background-color: $blue-light

// Button sizes
.btn-large
  padding: 18px 50px

@media screen and (max-width: 480px)

  .btn
    width: 100%
