/*--------------------------------------------------------------------
*
* FORMS
*
--------------------------------------------------------------------*/

// Inputs
input
  border: $ui-border
  border-radius: $ui-radius
  padding: $ui-spacing-third
  font-size: inherit
  transition: all .3s ease-in
  width: 100%
  box-sizing: border-box

  &:focus
    border: 1px solid $blue-light
    box-shadow: 0 0 5px $blue-light
    outline: none

input[type="search"]
  box-sizing: border-box
  
.input-large
  padding: 20px $ui-spacing-half

input:-webkit-autofill
    -webkit-box-shadow:0 0 0 50px white inset;
    -webkit-text-fill-color: #333;


input:-webkit-autofill:focus
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: #333;

// Form
form
  &.panel
    margin-top: 0

// Fieldsets
fieldset
  margin-bottom: $ui-spacing-half
  padding: 0
  border: none
  font-size: $font-h2

@media screen and (min-width: 31em) and (max-width: 48em)

  input[type=search]
    min-width: 180px

@media screen and (min-width: 49em)
  input[type=search]
    min-width: 350px

@media screen and (min-width: 75em)
  input[type=search]
    min-width: 450px
