column-sizing(size)
  -ms-flex-preferred-size: size
  -webkit-flex-basis: size
  flex-basis: size
  max-width: size

generate-grid-sizing(viewport)
  .col-{viewport}
    -webkit-flex-grow: 1
    -ms-flex-positive: 1
    -webkit-box-flex: 1
    flex-grow: 1
    -ms-flex-preferred-size: 0
    -webkit-flex-basis: 0
    flex-basis: 0
    max-width: 100%

  for num in (1..12)
    size =  (round(num / 12 * 100, 3))%
    .col-{viewport}-{num}
      box-sizing: border-box
      -webkit-flex: 0 0 auto
      -ms-flex: 0 0 auto
      -webkit-box-flex: 0
      flex: 0 0 auto
      padding-right: 1rem
      padding-left: 1rem

      -ms-flex-preferred-size: size
      -webkit-flex-basis: size
      flex-basis: size
      max-width: size

    .col-{viewport}-offset-{num}
      margin-left: size

generate-helpers(viewport)
  .start-{viewport}
    @extends .flex-h-start

  .center-{viewport}
    @extends .flex-h-center

  .end-{viewport}
    @extends .flex-h-end

  .top-{viewport}
    @extends .flex-v-start

  .middle-{viewport}
    @extends .flex-v-center

  .bottom-{viewport}
    @extends .flex-v-end

  .around-{viewport}
    @extends .flex-around

  .between-{viewport}
    @extends .flex-between

  .first-{viewport}
    @extends .flex-first

  .last-{viewport}
    @extends .flex-last

.flex-h-start
  -webkit-justify-content: flex-start
  -ms-flex-pack: start
  -webkit-box-pack: start
  justify-content: flex-start
  text-align: start

.flex-h-center
  -webkit-justify-content: center
  -ms-flex-pack: center
  -webkit-box-pack: center
  justify-content: center
  text-align: center

.flex-h-end
  -webkit-justify-content: flex-end
  -ms-flex-pack: end
  -webkit-box-pack: end
  justify-content: flex-end
  text-align: end

.flex-v-start
  -webkit-align-items: flex-start
  -ms-flex-align: start
  -webkit-box-align: start
  align-items: flex-start

.flex-v-center
  -webkit-align-items: center
  -ms-flex-align: center
  -webkit-box-align: center
  align-items: center

.flex-v-end
  -webkit-align-items: flex-end
  -ms-flex-align: end
  -webkit-box-align: end
  align-items: flex-end

.flex-around
  -webkit-justify-content: space-around
  -ms-flex-pack: distribute
  justify-content: space-around

.flex-between
  -webkit-justify-content: space-between
  -ms-flex-pack: justify
  -webkit-box-pack: justify
  justify-content: space-between

.flex-first
  -webkit-order: -1
  -ms-flex-order: -1
  -webkit-box-ordinal-group: 0
  order: -1

.flex-last
  -webkit-order: 1
  -ms-flex-order: 1
  -webkit-box-ordinal-group: 2
  order: 1

.container-fluid
  margin-right: auto
  margin-left: auto
  padding-right: 2rem
  padding-left: 2rem

.row
  box-sizing: border-box
  display: -webkit-flex
  display: -ms-flexbox
  display: -webkit-box
  display: flex
  -webkit-flex: 0 1 auto
  -ms-flex: 0 1 auto
  -webkit-box-flex: 0
  flex: 0 1 auto
  -webkit-flex-direction: row
  -ms-flex-direction: row
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  flex-direction: row
  -webkit-flex-wrap: wrap
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  margin-right: -1rem
  margin-left: -1rem
  &.reverse
    -webkit-flex-direction: row-reverse
    -ms-flex-direction: row-reverse
    -webkit-box-orient: horizontal
    -webkit-box-direction: reverse
    flex-direction: row-reverse

.col
  margin: 0.2em 0
  &.reverse
    -webkit-flex-direction: column-reverse
    -ms-flex-direction: column-reverse
    -webkit-box-orient: vertical
    -webkit-box-direction: reverse
    flex-direction: column-reverse

generate-grid-sizing(xs)
generate-helpers(xs)

@media only screen and (min-width: 48em)
  .container
    width: 46rem

  generate-grid-sizing(sm)
  generate-helpers(sm)

@media only screen and (min-width: 62em)
  .container
    width: 61rem

  generate-grid-sizing(md)
  generate-helpers(md)

@media only screen and (min-width: 75em)
  .container
    width: 71rem
  generate-grid-sizing(lg)
  generate-helpers(lg)
