/*--------------------------------------------------------------------
*
* ICONS
*
--------------------------------------------------------------------*/

.icon
  display: inline-block
  margin: .2em
  position: relative
  background-repeat: no-repeat
  background-size: contain
  opacity: .5

.icon-rg
  height: 20px
  width: 20px

.icon-star,
.icon-fork,
.icon-info,
.icon-eye,
.icon-clipboard,
.icon-home
  @extends .icon-rg, .icon

.icon-fork
  background-image: url("../img/icon-fork.svg")

.icon-eye
  background-image: url("../img/icon-eye.svg")

.icon-star
  background-image: url("../img/icon-star.svg")

.icon-star-sm
  background-image: url("../img/icon-star.svg")
  width: 14px
  height: 14px
  top: 4px

.icon-fork-sm
  background-image: url("../img/icon-fork.svg")
  width: 14px
  height: 14px
  top: 5px

.icon-eye-sm
  background-image: url("../img/icon-eye.svg")
  width: 14px
  height: 14px
  top: 4px
  left: 2px

.icon-clipboard
  background-image: url("../img/icon-clipboard.svg")

.icon-home
  background-image: url("../img/icon-home.svg")

.icon-info
  top: 2px
  background-image: url("../img/icon-info.svg")

[class*="icon icon-hex"]
    height: 30px
    width: 30px
    display: block
    float: left
    margin-right: $ui-spacing-half
    opacity: 1

.icon-hex-1
  background-image: url("../img/icon-hex-1.svg")

.icon-hex-2
  background-image: url("../img/icon-hex-2.svg")

.icon-hex-3
  background-image: url("../img/icon-hex-3.svg")

.icon-hex-4
  background-image: url("../img/icon-hex-4.svg")

.icon-hex-5
  background-image: url("../img/icon-hex-5.svg")

.icon-hex-full
  background-image: url("../img/icon-hex-full.svg")

.icon-refresh-blue
  display: inline-block
  height: 15px
  width: 15px
  margin-right: 5px
  background-image: url("../img/icon-refresh-blue.svg")
