/*--------------------------------------------------------------------
*
* LOGOS
*
--------------------------------------------------------------------*/

.logo
  display: inline-block
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer
  transition: opacity .5s ease-in
  &:hover
    opacity: .6

// Nodezoo logo

.logo-nodezoo
  height: 100px
  width: 213px
  background-image: url("../img/logo-nodezoo.svg")

// Github, Travis, Npm and Coveralls shared logo styles

.logo-github,
.logo-npm,
.logo-travis,
.logo-coveralls
  height: 24px
  width: 24px
  margin 0 4px

.logo-github-large,
.logo-npm-large,
.logo-travis-large,
.logo-coveralls-large
  height: 30px
  width: 30px

// Github logo
.logo-github
  background-image: url("../img/logo-github.svg")

// Npm logo
.logo-npm
  background-image: url("../img/logo-npm.svg")

// Travis logo
.logo-travis
  background-image: url("../img/logo-travis.svg")

// Coveralls logo
.logo-coveralls
  background-image: url("../img/logo-coveralls.svg")
