/*--------------------------------------------------------------------
*
* MODULE
*
--------------------------------------------------------------------*/

.module-header
  padding: $ui-spacing-half $ui-spacing
  margin-bottom: 0
  border-top: $ui-border
  border-left: $ui-border
  border-right: $ui-border
  border-radius: 3px 3px 0 0
  background-color: #f1f1f1

.module-similar
  font-size: $font-small

.module-details p,
.module-details ul
  margin-left: 45px

.module-details .logo-github,
.module-details .logo-npm,
.module-details .logo-travis
  margin-left: $ui-spacing-half

.module-info-heading
  display: inline-block
  width: 150px
  font-size: $font-h3
  font-weight: $font-weight-bold
  color: $gray

.module-info-list
  li
    color: $gray-light
    margin-bottom: 5px
    margin-left: 10px

.module-result
  &:not(:last-of-type)
    border-bottom: $ui-border

.module-sources
  line-height: 0

.module-badges
  margin-left: 5px;

.module-description
  padding: 8px
  margin: 0

.travis-badge
  color: #fff
  font-size: .7em
  margin-top: 4px
  label, .status
    padding: 5px 6px
  label
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    background-color: #585656
  .status
    border-top-right-radius: 2px
    border-bottom-right-radius: 2px
    background-color: #ccc
    &.failed
      background-color: #aa2614
    &.passed
      background-color: #56A93C

#query-results-container
  &.panel
    padding: $ui-spacing-half

@media screen and (min-width: 767px)

  .module-git-info
    text-align: right

  .module-header
    h1
      text-align: left
    a
      text-align: right
