/*--------------------------------------------------------------------
*
* TABLES
*
--------------------------------------------------------------------*/

.npmTableHead
  padding-right: 80px
  vertical-align: top
  font-size: $font-h3
  font-weight: $font-weight-bold
  padding-left: 28px
  padding-bottom: 3px

.gitTableHead
  padding-right: 72px
  vertical-align: top
  font-size: $font-h3
  font-weight: $font-weight-bold
  padding-left: 28px
  padding-bottom: 3px

.travisTableHead
  padding-right: 50px
  vertical-align: top
  font-size: $font-h3
  font-weight: $font-weight-bold
  padding-left: 28px
  padding-bottom: 3px

.tableInfo
  color: $gray-light
