/*--------------------------------------------------------------------
*
* BASIC STYLES
*
--------------------------------------------------------------------*/

// Box sizing
*, *:after, *:before
  box-sizing: border-box

// Selection highlight
::-moz-selection
  background-color: #c8edff

::selection
  background-color: #c8edff

// Paragraphs
p
  margin-top: 0
  margin-bottom: 30px

// Links
a
  color: #1C8DC6
  text-decoration: none
  cursor: pointer
  &:hover
    color: #42baf6
  &:focus
    outline: none

// Clearfix
.cf:before,
.cf:after
  content: " "
  display: table

.cf
  &:after
    clear: both

// Media
img, iframe, video
  max-width: 100%