/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

.btn {
  border-radius: 3px;
  padding: 8px 15px;
  border: none;
  color: white;
  font-size: inherit;
  background-color: #1C8DC6;
  cursor: pointer;
  user-select: none;
  transition: all .5s ease-in;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #42baf6;
}

/* Button sizes */

.btn-large {
  padding: 18px 50px;
}

.btn-small {
  padding: 5px 10px;
  font-size: 0.875rem;
}

@media screen and (max-width: 480px) {
  
  .btn {
    width: 100%;
  }

}