/*--------------------------------------------------------------------
*
* FORMS
*
--------------------------------------------------------------------*/

/* Inputs */

input {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  font-size: inherit;
  transition: all .3s ease-in;
}

input:focus {
  border: 1px solid #66cafc;
  box-shadow: 0 0 5px #66cafc;
  outline: none;
}

.input-large {
  padding: 20px 15px;
}

/* Form */

form.panel {
  margin-top: 0;
  padding: 60px 30px;
}

/* Fieldsets */

fieldset {
  margin-bottom: 15px;
  padding: 0;
  border: none;
  font-size: 1.5rem;
}

@media screen and (max-width: 30em) {
  
  input[type=search] {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
  }
  
}

@media screen and (min-width: 31em) and (max-width: 48em) {
  
  input[type=search] {
    min-width: 180px;
  }
  
}

@media screen and (min-width: 49em) {
  
  input[type=search] {
    min-width: 350px;
  }
  
}

@media screen and (min-width: 75em) {
  
  input[type=search] {
    min-width: 450px;
  }
  
}