/*--------------------------------------------------------------------
*
* LISTS
*
--------------------------------------------------------------------*/

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-default {
  padding-left: 20px;
}

.list-inline li {
  display: inline-block;
  margin-right: 15px;
}