/*--------------------------------------------------------------------
*
* MARGINS
*
--------------------------------------------------------------------*/

.m0 {
  margin: 0;
}

/* Bottom Margin */

.mb0 {
  margin-bottom: 0;
}

.mbhalf {
  margin-bottom: 15px;
}

.mb {
  margin-bottom: 30px;
}

/* Top Margin */

.mt0 {
  margin-top: 0;
}

.mthalf {
  margin-top: 15px;
}

.mt1 {
  margin-top: 30px;
}

.mt2x {
  margin-top: 60px;
}

/* Top and Bottom Margin */

.mtb {
  margin: 30px 0;
}

.mtb2x {
  margin: 60px 0;
}