/*--------------------------------------------------------------------
*
* TYPOGRAPHY
*
--------------------------------------------------------------------*/

/* Typographic scale: 
   0.875rem = 14px
   1rem     = 16px
   1.125rem = 18px
   1.5rem   = 24px
   2rem     = 32px
   2.5      = 40px
*/

html
  font-size: 100%

body
  color: #333
  font-family: "Roboto", sans-serif
  font-size: 1rem
  line-height: 1.5
  text-rendering: optimizeSpeed

// Headings

h1
  font-size: 2rem

h2
  font-size: 1.5rem

h3
  font-size: 1.125rem

h1, h2, h3
  font-weight: 400

// Helpers

.txt-small
  font-size: 0.875rem

.txt-center
  text-align: center

.txt-left
  text-align: left

.txt-right
  text-align: right

.txt-dimmed
  color: #888

